<!DOCTYPE html>
<html lang="en">

<head>
    <title>Talkwatch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="icon.png">

    <link rel="stylesheet" href="styles/bulma.css">
    <link rel="stylesheet" href="styles/support.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

    <script src="/scripts/secure.js"></script>
</head>

<body>
<section class="hero is-black is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="icon.png" alt="logo">
            <h1 class="title">Talkwatch&trade;</h1>
            <h2 class="subtitle">Simple and extensive automodder for ReplTalk.</h2>

            <br>

            <div class="container" style="width: 50%">
                <div class="card darken">
                <div class="card-content darken">
                    <div class="content" style="color: white">
                        <h4 style="color: white">Bot Status: <span class="tag is-primary is-small">Online</span></h4>
                        <h4 style="color: white">Last Downtime: <span class="tag is-danger is-small">Unknown</span></h4>
                        <h4 style="color: white">
                            User Context:&nbsp;
                            <a href="//replit.com/@frissyn">
                                <span class="tag is-info is-small">frissyn</span>
                            </a>
                        </h4>
                    </div>
                </div>
                <footer class="card-footer darken">
                    <a href="/logs" class="card-footer-item">View Action Logs</a>
                    <a href="//github.com/frissyn/talkwatch" class="card-footer-item">View GitHub Source</a>
                </footer>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
