.container {
    width: 70%;
    margin: auto;
    display: block;
}

.box {
    padding: 1em;
    display: block;
    border-radius: 8px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

span.badge {
    padding: 4px;
    display: inline;
    border-radius: 4px;
}