:root {
    --dark1: #141414;
    --dark2: #1f1f1f;
    --dark3: #292929;

    --light1: #ebebeb;
    --light2: #f5f5f5;
    --light3: #ffffff;

    --accent1: #6363E0;
    --accent2: #8484E6;
    --accent3: #A5A5ED;
}

.dark1.txt { color: var(--dark1) }
.dark2.txt { color: var(--dark2) }
.dark3.txt { color: var(--dark3) }
.dark1.bg { background-color: var(--dark1) }
.dark2.bg { background-color: var(--dark2) }
.dark3.bg { background-color: var(--dark3) }


.light1.txt { color: var(--light1) }
.light2.txt { color: var(--light2) }
.light3.txt { color: var(--light3) }
.light1.bg { background-color: var(--light1) }
.light2.bg { background-color: var(--light2) }
.light3.bg { background-color: var(--light3) }

.accent1.txt { color: var(--accent1) }
.accent2.txt { color: var(--accent2) }
.accent3.txt { color: var(--accent3) }
.accent1.bg { background-color: var(--accent1) }
.accent2.bg { background-color: var(--accent2) }
.accent3.bg { background-color: var(--accent3) }

.txt.xlarge { font-size: 3em }
.txt.large { font-size: 2em }
.txt.medium { font-size: 1.5em }
.txt.small { font-size: 1.17em }
.txt.xsmall { font-size: 1em }

.center-txt { text-align: center !important; }
