@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

:root {
    --dark1: #141414;
    --dark2: #1f1f1f;
    --dark3: #292929;

    --light1: #ebebeb;
    --light2: #f5f5f5;
    --light3: #ffffff;

    --accent1: #6363E0;
    --accent2: #8484E6;
    --accent3: #A5A5ED;
}

.va {
    display: flex;
    align-items: center;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

a {
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    color: #9d9d9d;
}

hr {
    background: #24272c;
}


.title, .subtitle, .p-icon {
    color: white;
}

.navbar-container {
    width: 65%;
}

.navbar .navbar-item {
    color: #e4e2ff;
}

.navbar .navbar-item.is-active {
    color: #e4e2ff;
    font-weight: 700;
}

.navbar .navbar-item:hover {
    background: transparent;
    color: white;
}

.navbar .navbar-item a {
    margin-left: 1rem;
    color: #e4e2ff;
}

.body {
    min-height: 100vh;
    background: #191b1f;
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.pfp {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border-color: #e4e2ff;
}

.darken {
    color: white;
    background-color: #191b1f;
}

.darkener {
   color: white;
   background-color: #191b1f;
}

.coup {
    display: flex;
}

.no-line {
    border: none;
}

.dark-line {
    border-bottom: 1px solid #9d9d9d;
}

.is-large.fab {
    font-size: 7em;
}

.media-content {
    overflow: hidden;
}

.menu-list li a:hover {
    background: #d9d9d9;
}

.menu-item {
    margin-bottom: 6px;
    text-decoration: none !important;
}